body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }

html {
  scroll-behavior: smooth;
}
  
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("./images/blog-img-first.jpg");
    min-height: 75%;
  }
  
  .menu {
    display: none;
  }

.center-img {
  width: 50%;
  margin:auto;
  display: block;
  padding-bottom: 48px;
}

.on-hover-transition{
  transition: 0.4s ease-out;
}

.link-transition {
  transition: 0.2s;
}

.on-hover-title {
  font-family: "Inconsolata", sans-serif;
}

.on-hover-title:hover {
  text-shadow: 0px 0px 20px white;
  color: black;
}

.shadow {
  font-family: "Inconsolata", sans-serif;
  color: white;
  text-shadow: 10px 10px 5px black;
}